@import url('https://fonts.googleapis.com/css?family=Caveat');
/* homepage and Universal */

@media Mobilescreensize and (max-width:480px ) {



/* 320 by 480, 640 by 960, 720 by 1280 */
}
@media Tabletscreen and (max-width:720px ) {
   

}

  /* GENERAL */
html {
    font-family: Caveat; 
    background-image: url(/Images/Paperb.jpg); 
    /* background-color: black;  */
    background-repeat: no-repeat;
    background-size: cover; 
    
}  

header {
    
    font-size: 180%;
    border:2px black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: black;
    color: white;
    
}
 /* NAVIGATION */
.navBar{

 border: 2px solid black;
 font-size: 120%;
 max-width: 100%;
 list-style: none;
} 

 /* JS CLICK REVEAL */
 .toggle-button{
     display: none;
 }
 .toggle-button-visible{
    display: block;
}
.toggle-target-hidden{
    display: none;
}
.toggle-target-expanded{
   display: block;
}
 
/* RESPONSIVE DROP DOWN  */
@media mobilescreensize and (max-width:480px){
    .toggle-button-visible{
        display: block;
    }
    .toggle-target-hidden{
        display: none;
    }
    .toggle-target-expanded{
       display: block;
    }
}

#NavBarList{
    list-style: none;
    float: right;
}


body {
border: groove black 1px;
font: black ;

}


article {
    max-width: 100%;
    font-size: 130%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}




p{
    font-size: 120%;
    max-width: 60%;
}
li{
    font-size: 120%;
}

a {
    color: black;

}

a:hover{
    color: crimson;
    scale: 150%;

}

    /* MAIN CONTENT */
#main{
    flex: 70%;
    float: left;
   
}
section :hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
#AboutBrief {
   
    border: 1px solid #696969;
    max-width: fit-content;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
 
}

#CharacterIntro{
    float:left;
}

#Characterpic{

    float: right;   
   
}

  /* ASIDE CONTENT */

#BullitinContainer{
   float: right;
   flex: 30%;
}

#BulBoardRight{
    height:6px; 
    width:2px;
}

   /* Main BLOG PAGE */
#BlogLinks{

}

#bloglist{
    text-align: center;
    text-decoration: underline;
    font-size: 150%;

}


 /* BLOG PAGES */
 #blogBodies{
     float: left;
     flex: 70%; 
 }

 #blogPar{
     padding-left: 30%;
     padding-right: 30%;
     margin-left: 5px;
    
     border-style: groove 2px black;
     font-size: 150%;

 }


#blogPics{
    float: right;
    flex:30%;
}

  /* SITE DETAILS */
#wireframes{
    margin-left: 20px;
    padding-left: 20px;
}


/* FOOTER STYLE  */
footer {
    /* background-color: azure; */
    /* max-width: 100%; */
    border: 2px solid black;
    color: black; 

} 

 /* FLIP BOOK STYLING */

 #flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

#flipbook-viewport .main{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

#flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

#flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

#flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

#flipbook-viewport .page link{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

#flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

