@import url('https://fonts.googleapis.com/css?family=Caveat');
/* homepage and Universal */


html {
box-sizing: border-box;
max-width: 100%;
    /* background-size: contain; */
    /* overflow: hidden; */
    scale: initial;
    font-family: Caveat;
    /* border: 2px black solid ; */
    background-image: url(Images/Paperb.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    

}
header {
    
    font-size: 180%;
    border:2px black;
    
}
nav{
 border-bottom: 2px solid black;
 border-top: 2px solid black;
 border: 2px solid black;
 font-size: 120%;
 max-width: 10%;
 
}


body {
    /* margin; */
    max-width: 100%;
    display: inline;
    font-size: 120%;
    /* padding-left: 20%;
    padding-right: 20%; */
    /* background-image: url(Images/Paperb.jpg);  */

    }
article {
    max-width: 60%;
    font-size: 130%;
}

p{
    font-size: 120%;
    max-width: 60%;
}
li{
    font-size: 120;
}

a {
    color: black;
    text-decoration: none;
}

a :hover{
    color: crimson;
    scale: 150%;

}
footer {
    /* background-color: azure; */
    height: 30%; 
    max-width: 100%;
    border: 2px solid black;

} 

/* Character About */
/* All of this isn't working, I know we not supposed to use div's but how would I make this work? for now im styling directly onto the page */
/* 
.demographics{
    float: left;
    flex:70%;
}

.characterId{
    float: right;
    flex:30%;
} 
.features{
    max-width: 60%;

} */