@import url('https://fonts.googleapis.com/css?family=Caveat');
/* homepage and Universal */


html {
    box-sizing: border-box;
    max-width: 100%;
    background-size: contain;
    font-family: Caveat; 
    border: 2px black solid ;
    /* background-image: url(Images/Paperb.jpg); 
    background-repeat: no-repeat;
    background-size: cover; */
} 

header {
    
    font-size: 180%;
    border:2px black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    
}
nav{
 border-bottom: 2px solid black;
 border-top: 2px solid black;
 border: 2px solid black;
 font-size: 120%;
 max-width: 100%;
 text-align: left;
 padding-left: 30px;
 padding-right: 30px;
 
}


body {
    /* margin; */
    max-width: 100%;
    display: inline;
    font-size: 120%;
    padding-left: 30px;
    padding-right: 30px; 
    margin-left: auto;
    margin-right:auto;

}
#mainpageBody {
    margin-left: auto;
    margin-right:auto;
    padding-left: 30px;
    padding-right: 30px; 
}

article {
    max-width: 100%;
    font-size: 130%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

#AboutBrief {
   
    border: 1px solid #696969;
    max-width: fit-content;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    flex: 60%;
    float: left;
}

#characterpic{
    flex: 40%;
    padding-right: 30px;
    max-width: fit-content;
    float: right;

}


p{
    font-size: 120%;
    max-width: 60%;
}
li{
    font-size: 120;
}

a {
    color: black;
    text-decoration: none;
}

a :hover{
    color: crimson;
    scale: 150%;

}
footer {
    /* background-color: azure; */
    height: 30%; 
    max-width: 100%;
    border: 2px solid black;

} 


/* 
#demographics{
    float: left;
    flex:70%;
}

#characterId{
    float: right;
    flex:30%;
} 
#features{
    max-width: 60%;

} */