@import url('https://fonts.googleapis.com/css?family=Caveat');
/* homepage and Universal */

@media Mobilescreensize and (max-width:480px ) {



/* 320 by 480, 640 by 960, 720 by 1280 */
}
@media Tabletscreen and (max-width:720px ) {
   

}

  /* GENERAL */
html {
    font-family: Caveat; 
    background-image: url(Images/Paperb.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
    
}  

header {
    
    font-size: 180%;
    border:2px black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    
}
 /* NAVIGATION */
.navBar{

 border: 2px solid black;
 font-size: 120%;
 max-width: 100%;
 list-style: none;
} 

 /* JS CLICK REVEAL */
 .toggle-button{
     display: none;
 }
 .toggle-button-visible{
    display: block;
}
.toggle-target-hidden{
    display: none;
}
.toggle-target-expanded{
   display: block;
}
 
/* RESPONSIVE DROP DOWN  */
@media mobilescreensize and (max-width:480px){
    .toggle-button-visible{
        display: block;
    }
    .toggle-target-hidden{
        display: none;
    }
    .toggle-target-expanded{
       display: block;
    }
}

#NavBarList{
    list-style: none;
    float: right;
}


body {
border: groove black 1px;
}

article {
    max-width: 100%;
    font-size: 130%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

#AboutBrief {
   
    border: 1px solid #696969;
    max-width: fit-content;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
 
}

#CharacterIntro{
    float:left;
}

#characterpic{
    flex: 40%;
    padding-right: 30px;
    max-width: fit-content;
    float: right;
    height:100px ;
    width:40px;
}


p{
    font-size: 120%;
    max-width: 60%;
}
li{
    font-size: 120;
}

a {
    color: black;

}

a:hover{
    color: crimson;
    scale: 150%;

}
footer {
    /* background-color: azure; */
    height: 30%; 
    max-width: 100%;
    border: 2px solid black;

} 
    /* MAIN CONTENT */
#main{
    flex: 70%;
   
}

  /* ASIDE CONTENT */

#BullitinContainer{
   float: right;
   flex: 30%;
}

#BulBoardRight{
    height:6px; 
    width:2px;
}

   /* Main BLOG PAGE */
#BlogLinks{

}

#bloglist{
    text-align: center;
    text-decoration: underline;
    font-size: 150%;

}
 /* BLOG PAGES */
 #blogBodies{
     float: left;
     flex: 70%; 
 }

 #blogPar{
     padding-left: 30%;
     padding-right: 30%;
     margin-left: 5px;
    
     border-style: groove 2px black;
     font-size: 150%;

 }


#blogPics{
    float: right;
    flex:30%;
}

  /* SITE DETAILS */
#wireframes{
    margin-left: 20px;
    padding-left: 20px;
}

